# Java
*.class
*.jar
*.war
*.ear

# Ignore Eclipse metadata
.metadata/

# IDEs
.idea/
*.iml
.classpath
.project
.settings/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Maven
target/

# Gradle
.gradle/
build/

# Environment
.env
